body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-image: url('banner.jpg');
    background-size: cover;
    padding: 20px;
    color: white;

    background-color: #0073e6;
    padding: 20px;
    color: white;
}


.perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0073e6;
}

header {
    background-color: #0073e6;
    padding: 20px;
    color: white;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
}



ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #0073e6;
    text-decoration: none;
}